html {
  scroll-behavior: smooth;
}
body {
  background: #eee;
  margin: 0;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: left;
  /* padding: 10px 30px; */
  margin-bottom: 10px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.section {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 25px;
}
#setting-section {
  min-width: 380px;
  padding-bottom: 30px;
}
#input-select {
  margin-bottom: 10px;
}

#circuit-select-section {
  /* flex: 3; */
  flex: 1 0 200px;
  min-width: 245px;
  margin-left: 0;
}
#circuit-edit-section {
  flex: 1 0 100px;
  min-width: 190px;
}
#circuit-result-section {
  /* flex: 4; */
  flex: 1 0 500px;
}

#circuit-select-section > *,
#circuit-edit-section > *,
#circuit-result-section > * {
  margin: 10px 0px;
}

#canvas {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 15px;
}

#circuit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.edior-title {
  margin: 10px 0px 8px 0px;
}
.edior-delete-btn {
  position: absolute;
  right: 18px;
  top: 2px;
}

.button {
  margin: 20px 0px;
  float: right;
}

.next-step {
  margin-top: 10px;
  margin-bottom: 20px;
}
