html {
  scroll-behavior: smooth;
}
body {
  background: #eee;
  margin: 0;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: left;
  /* padding: 10px 30px; */
  margin-bottom: 10px;
}

.section {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 15px;
  padding: 10px 28px;
}
#setting-section {
  min-width: 380px;
  padding-bottom: 30px;
}
#input-select {
  margin-bottom: 10px;
}

#circuit-edit-section {
  /* flex: 3; */
  flex: 1 0 300px;
  min-width: 450px;
  margin-left: 0;
}
#circuit-result-section {
  /* flex: 4; */
  flex: 1 0 500px;
}

#circuit-edit-section > *,
#circuit-result-section > * {
  margin: 10px 0px;
}

#canvas {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#circuit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.circuit-edior-title {
  margin: 10px 0px 8px 0px;
}
.circuit-edior-delete-btn {
  position: absolute;
  right: 16px;
  top: 8px;
}

.button {
  margin: 20px 0px;
  float: right;
}

.next-step {
  margin-top: 10px;
  margin-bottom: 20px;
}

.float-right {
  float: right;
}

.slider-section {
  display: flex;
}
.slider {
  flex: 1 1 300px;
  max-width: 300px;
}
.slider-x {
  margin-right: 10px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
